<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"> -->
    <link rel="stylesheet" href="/Front-End/CSS/dashboard.css">

    <!--  Fonts Link  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Tilt+Neon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">



    <script>
        // function fetchStaticData() {
        //     fetch('/get_static_data')
        //         .then(response => response.json())
        //         .then(data => {
        //             let eventInfo = data.event[0];  // Assuming one company with CompanyID=1
        //             document.getElementById('EventName').innerText = eventInfo['EventName'];
        //             document.getElementById('EventLocation').innerText = eventInfo['EventLocation'];
        //             //date
        //             let startDate = eventInfo['EventStartDate'].split(' ');
        //             let endDate = eventInfo['EventEndDate'].split(' ');
        //             let formattedDate = `${startDate[1]} ${startDate[2]} ${startDate[3]} - ${endDate[1]} ${endDate[2]} ${endDate[3]}`;  // Extract hour and minute
        //             document.getElementById('EventDate').innerText = formattedDate;


        //             //time
        //             // Format the start time to show only hours and minutes
        //             let startTime = eventInfo['EventStartTime'].split(':');
        //             let endTime = eventInfo['EventEndTime'].split(':');
        //             let formattedTime = `${startTime[0]}:${startTime[1]} - ${endTime[0]}:${endTime[1]}`;  // Extract hour and minute
        //             document.getElementById('EventTime').innerText = formattedTime;

        //             // Retrieve camera information data
        //             let cameraInfo = data.cameras[0];  // Corrected array initialization
        //             document.getElementById('numberOfHalls').innerText = cameraInfo.numOfHalls;
        //             document.getElementById('infoHallName').innerText = cameraInfo.HallName;

        //             console.log(cameraInfo.HallName, formattedTime, formattedDate, cameraInfo.eventID);
        //         });
        // }

        // window.onload = fetchStaticData;  // Fetch static data when page loads
        // console.log();
    </script>

</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="http://localhost/2024-25_GP_02/WebsitePages/Back-End/PHP/userHome.php"><img src="/images/Logo2.png"
                    alt="Company Logo"></a>
        </div>
    </header>

    <main>
        <div class="allEventInformation">
            <!-- <div class="eventInformation">
                <h3><span id="EventName">EventName</span></h3>
                <p><strong>Event Date:</strong> <span id="EventDate"></span></p>
                <p><strong>Event Time:</strong> <span id="EventTime"></span></p>
                <p><strong>Event Location:</strong> <span id="EventLocation"></span></p>
            </div>
            
            <div class="infoBoxes">
                <div class="infoBox">
                    <p>Number of Halls</p>
                    <h3><span id="numberOfHalls"></span></h3>
                    <p style="font-weight: bold;"><span id="infoHallName"></span></p>
                </div>
                <div class="infoBox">
                    <p>Total of visitors</p>
                    <h2><span>No Data</span></h2>
                </div> -->

            <div class="eventInformation">
                {% for event in eventData %}
                    <!-- <h3><span id="EventName">EventName</span></h3>
                    <p><strong>Event Date:</strong> <span id="EventDate"></span></p>
                    <p><strong>Event Time:</strong> <span id="EventTime"></span></p>
                    <p><strong>Event Location:</strong> <span id="EventLocation"></span></p> -->
                    <h3><span id="EventName"> {{ event.HallName }}</span></h3>
                    <p><strong>Event Date:</strong> {{ event.EventStartDate }} - {{ event.EventEndDate }}</span></p>
                    <p><strong>Event Time:</strong> {{ event.EventStartTime }} - {{ event.EventEndTime }}</span></p>
                    <p><strong>Event Location:</strong> {{ event.EventLocation }}</span></p>
                {% endfor %}
            </div>



            <div class="eventInformation">
                <p>Number of Halls</p>
                <h3 id="numberOfHalls"></h3>
            </div>
            <div id="totalOfVisitors" class="eventInformation">
                <p>Total of visitors</p>
                <h2 style="margin-bottom: 45%;">No Data</h2>
            </div>


        </div>
        </div>


        <!-- Loop through the cameras list passed from Flask -->
        <div class="camera">
            <h3><span class="dot"></span> Live Stream</h3>
            <div id="cameraFeeds">
                {% for camera in cameras %}
                <div class="cameraFeed">
                    <h4 style="margin: 0; margin-bottom: 2.5%;">{{ camera.HallName }}</h4>
                    <p>Current Visitors: No Data</p>
                    <img src="{{ url_for('video_feed', camera_id=camera.CameraID) }}" width="300"
                        alt="No camera connection">
                </div>
                <script>
                    console.log('{{ camera.HallName }}', '{{ camera.eventID }}');
                </script>
                {% endfor %}
            </div>
        </div>
    </main>


    <!-- ------------FOOTER------------- -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="row-contact">
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="far fa-envelope-open"></i>
                                <div class="cta-text">
                                    <h4>Mail us</h4>
                                    <span id="mail"><a
                                            href="mailto:Raqeeb.Project@gmail.com">Raqeeb.Project@gmail.com</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="../../Back-End/PHP/userHome.php"><img src="/images/Logo3.png" class="img-fluid"
                                        alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Our system provides real-time crowd management, enabling event organizers to track
                                    attendees and streamline operations efficiently.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="mailto:Raqeeb.Project@gmail.com"><i
                                        class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="/Back-End/PHP/addEvent.php">Add Event</a></li>
                                <li><a href="#Cameras">Cameras</a></li>
                                <li><a href="#listOfEvents">List Of Events</a></li>
                                <li><a href="#" style="color: #151414;">Contact</a></li>
                                <li><a href="#" style="color: #151414;">Contact</a></li>
                                <li><a href="#" style="color: #151414;">Contact</a></li>
                                <li><a href="#" style="color: #151414;">Contact</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2024 Raqeeb, All Right Reserved </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>